<!-- Barra de Navegação -->
<nav class="navbar navbar-fixed-top navbar-default">
			
    <div class="container-fluid navbar-fundo"> <!-- Agrupar logo toggle e links -->

        <div class="navbar-header">
            
            <!-- Botão Alternar -->
            <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#barra-navegacao" aria-expanded="false">
                <span class="sr-only">Alternar navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Logo Carta -->
            <a class="navbar-brand" href="index.html">
                <span class="img-logo">Logo</span>
            </a>
        </div> <!--/navbar-header-->

        <!-- navbar -->
        <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav text-center">
                <li class="font_nav">
                    <a routerLink="/home" routerLinkActive="active">
                        Home
                    </a>
                </li>
                <li class="font_nav">
                    <a routerLink="/all" routerLinkActive="active">
                        Relatos
                    </a>
                </li>
                <li class="font_nav">
                    <a routerLink="/write" routerLinkActive="active">
                        Escreva seu relato
                    </a>
                </li>
                <li class="font_nav">
                    <a routerLink="/information" routerLinkActive="active">
                        Informações
                    </a>
                </li>
                <li class="font_nav">
                    <a routerLink="/privacy" routerLinkActive="active">
                        Privacidade
                    </a>
                </li>					
            </ul>
            
        </div> <!--/itens da barra-navegacao-->

    </div> <!--/nav container-fluid-->

    <img src="/src/img/top-mobile.png" id="top-mobile" class="visible-xs-block">
    
</nav>