<!-- Rodapé -->
<footer id="rodape">

  <div class="container">

    <div class="row">

      <div class="col-sm-3 col-md-4"  id="marca-texto1">

        <span><b>
          Polícia Militar:<br>
          disque 190</b>
        </span>
      </div>

      <div class="col-sm-6 col-md-4" id="marca-texto2">

        <span><b>
          Central de Atendimento à mulher:<br>
          disque 180</b>
        </span>
      </div>

      <div class="col-sm-3 col-md-4" id="marca-texto3">

        <span><b>
          Disque Denúncia:<br>
          disque 181</b>
        </span>
      </div>

    </div> <!-- row rodape -->

  </div> <!--/container rodape-->

</footer>
