/*
*
* @author
* @version 0.1
*/

/* ========== LAYOUT ========== */

/* ===== GERAL ===== */

body
{
	background: url('/src/img//bg.jpg') repeat;
	background-size: 100% 1086vh;
	font-family: "Courier Std","Courier New", Courier, monospace;
	color: #471824;
	font-size: 15px;
}


/* ===== NAVBAR ===== */

/* Background da barra transparente (para a imagem de rasgo poder ficar vazada) */
 .navbar-default
 {
 	background-color: transparent;
 }

/* Logo Carta (classe para colocá-lo inteiro dentro da span)*/
.img-logo
{
	height: 60px;
	width: 60px;
	display: block;
	background: url('/src/img/favicon.png') no-repeat;
	background-size: contain;
	color: transparent;
}
/* Ajuste de posição da logo carta */
.navbar-brand
{
	padding: 0px 5px 10px 30px;
	position: relative;
}

/* Retira a borda da droplist qdo a navbar colapsa */
.navbar, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none;
}

/* Define a cor do botão toggle como branco para não diferenciar da barra */
.navbar-default .navbar-toggle ,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
	background-color: #fff;
}


/* ===== SEÇÕES ===== */

/* == Primeiro conteúdo == */

/* Distanciamento da navbar do primeiro conteudo:
 * Obs: não da pra usar na body pq senão desce o background.
 * Obs2: utilizei a seção primeiro conteúdo em caso de navegação por scroll
 */
#primeiro_conteudo
{
	padding: 135px 0 30px 0;
}

/* == HOME == */

/* Imagem da home */
.img-home
{
	width: 360px;
	height: 260px;
	display: block;
	background: url('/src/img/logo_home.png') no-repeat;
	background-size: contain;
	color: transparent;
}

/* Distância do texto em dispositivos xs */
#img-xs
{
	padding-bottom: 10px;
}

/* == RELATOS == */

/* Autor do relato alinhado a direita do relato */
#autor-relato
{
	display: block;
	float: right;
}

/* Posição do link denuncia */
#denuncia
{
	margin-top: 3vh;
	display: inline-block;
	float: right;
}

/*== FORM ESCREVA ==*/

/* Bg transparente */
.form-control
{
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
}

/* Botão personalizado */
#botao-enviar
{
	background-color: #933e50;
	color: #f0deb9;
	font-weight: bold;
	border-radius: 8px;		/*Bordas arredondadas:*/
	-webkit-border-radius:8px;	/*Para funcionar em versões anteriores do chrome e safari: */
	-moz-border-radius:8	px; 	/*Para funcionar em versões anteriores do mozilla: */
	/*Com esse atributo, o padding não influencia no tamanho da caixa:*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /*(Chrome e safari)*/
	-moz-box-sizing: border-box; /*(mozilla)*/
	border-color: transparent;
}

/* ===== FOOTER ===== */

footer
{
	padding: 50px 0 20px 0;
	text-align: center;
	font-size: 15px;
	color: #852940;
}

/* Marca-texto da policia */
#marca-texto1
{
	background: url('/src/img/policia.png') no-repeat;
	background-size: contain;
	background-position: center;
}
/* Marca-texto da central */
#marca-texto2
{
	background: url('/src/img/central.png') no-repeat;
	background-size: contain;
	background-position: center;
}
/* Marca-texto do disk */
#marca-texto3
{
	background: url('/src/img/disk.png') no-repeat;
	background-size: contain;
	background-position: center;
}


/* ========== TIPOGRAFIA ========== */

/* cor da fonte da seção escreva */
.escreva
{
	color: #852940;
}

/* = cor da fonte dos titulos e subtitulos info e privacidade = */
.titulo>h3
{
	text-align: center;
	margin-bottom: 3vh;
}
.subtitulo>p
{
	text-align: center;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 3vh;
}

/* ===== Cor dos links ===== */

/* = Fonte principal Links = */

/* Link navbar e denuncia */
.navbar-default .navbar-nav>li>a, #denuncia>a
{
	color: #380012;
}

/* Links no meio dos textos justificados */
.justif>a, .justif>p>a
{
	color: #471824;
	text-decoration: underline;
}

/* Link relato */
.relato>a
{
	color: #471824;
}

/* = Cor do hover dos link = */

/* Hover navbar e denuncia */
.navbar-default .navbar-nav>li>a:hover, #denuncia>a:hover
{
	color: #cb8292;
	text-decoration: none;
}

/* Hover links do texto justificado */
.justif>a:hover, .justif>p>a:hover
{
	color: #cb8292;
	text-decoration: none;
}

/* Hover dos relatos */
.relato>a:hover
{
	color: #852940;
	text-decoration: none;
}

/* = Cor ao Click do link = */

/* Click navbar e denuncia */
.navbar-default .navbar-nav>li>a:active, #denuncia>a:active
{
	color: #380012;
	text-decoration: underline;
}

/* Click textos justificados */
.justif>a:active, .justif>p>a:active
{
	color: #380012;
	text-decoration: none;
}

/* Click relatos */
.relato>a:active
{
	text-decoration: underline;
}

/* = Remoção da decoração dos links visitados = */
a:visited
{
	text-decoration: none;
}

/* Link da página atual sublinhado na navbar */
.navbar-default .navbar-nav>li>.active, .navbar-default .navbar-nav>li>.active:focus, .navbar-default .navbar-nav>li>.active:hover
{
	color: #380012;
	background: none;
	text-decoration: underline;
}

/* ===== Alinhamento do texto ===== */
.justif
{
	text-align: left;
}
.centralizado
{
	text-align: center;
}


/* ========== MEDIA QUERIES ========== */

/* ===== xs < 768 ===== */
@media screen and (max-width: 767px) /* Fontes dos tamanhos 768 e 769 extrapolavam a navbar */
{
	/* Reajuste do tamanho do bg */
	body
	{
		background-size: 100% 898px;  /* 700px (largura media) / 5692 * 7304*/
	}

	/* A navbar em mobiles está configurada de uma maneira diferente. */
	#top-mobile
	{
		height: 62px;
		width: 800px;
		border: none;
	}
	.navbar-fundo
	{
		border: none;
		padding-top: 15px;
		background-color: #fff;
	}

	/* TIPOGRAFIA: tive que diminuir alguns tamanhos e adicionar alguns paddings por questões de visualização */

	#marca-texto1, #marca-texto2, #marca-texto3
	{
		padding-bottom: 15px;
	}
	.justif
	{
		font-size: 14px;
	}
	.subtitulo
	{
		font-size: 15px;
	}
	.relato
	{
		padding: 0vh 11vw 4vh 11vw;
	}
	#page-name
	{
		text-align: center;
	}

}

/* sm */
@media screen and (min-width: 768px)
{
	/* Reajuste do tamanho do bg */
	body
	{
		background-size: 100% 986px;
	}

	/* Construção da navbar com a imagem original */
	.navbar-fundo
	{
		border: none;
		padding: 15px 5px 40px 5px;
		background: url('/src/img/top_menu.png') no-repeat;
		background-size: 1366px 1340%;
		background-color: transparent;
	}

	/* Centralização dos itens da navbar */
	.navbar-nav
	{
    	margin: 0 auto;
    	display: table;
    	table-layout: fixed;
    	float: none;
  	}

  	/* TIPOGRAFIA: para evitar extrapolação dos itens no container-fluid da navbar */
  	.font_nav
  	{
  		padding-right: 0.5vw;
  	}
}

@media screen and (min-width: 809px) /* Padding de alguns tamanhos extrapolavam a navbar */
{
  	/* TIPOGRAFIA: para evitar extrapolação dos itens no container-fluid da navbar */
  	.font_nav
  	{
  		padding-right: 1.5vw;
  	}
}


/* md */
@media screen and (min-width: 992px)
{
	/* Reajuste do tamanho do bg */
	body
	{
		background-size: 100% 1273px;
	}

	/* Reajuste da posição do botão enviar */
	#botao-enviar
	{
		margin-left: -1.8vw;
	}


	/* TIPOGRAFIA: tive que diminuir alguns tamanhos e adicionar alguns paddings por questões de visualização */
	.font_nav
	{
		padding-left: 1vw;
		padding-right: 3.8vw;
		font-size: 15px;
	}
}

/* lg */
@media screen and (min-width: 1200px)
{
	/* Reajuste do tamanho do bg */
	body
	{
		background-size: 100%;
	}

	/* Reajuste da posição do botão enviar */
	#botao-enviar
	{
		margin-left: -0.4vw;
	}

	/* TIPOGRAFIA: tive que diminuir alguns tamanhos e adicionar alguns paddings por questões de visualização */
	.font_nav
	{
		padding-left: 2vw;
		padding-right: 5vw;
		font-size: 16px;
	}
	.letra-label
  	{
  		font-size: 14px;
  	}
}
