<!-- Conteúdo Relatos -->
<section id="primeiro_conteudo">

  <div class="container" style="height: 100%" appScrollable (scrollPosition)="scrollHandler($event)">

    <div class="row">

      <div *ngFor="let item of page.data | async" class="relato col-sm-5 col-sm-offset-1">

        <a routerLink="/r/{{ item.id }}">

          <span id="titulo-relato">
            <h3><b>{{ item.title }}</b></h3>
          </span>

          <span id="relato-demo" class="justif">
          <p>
            {{ (item.text.length>30)? (item.text | slice:0:30)+'...':(item.text) }}
            <br><b>Leia mais...</b>
          </p>
          </span>


          <!--
            <span id="autor-relato">Autor Anônimo</span>
          -->

        </a>

      </div>

    </div> <!--coluna de relatos-->

      <div class="row">

        <!--Botao Carregar mais-->
        <div class="visible-md-block visible-lg-block text-center">
          <button type="submit" id="botao-enviar">
            Ver Mais
          </button>
        </div>

        <div class="visible-sm-block visible-xs-block text-center">
          <button type="submit" id="botao-enviar">
            Ver Mais
          </button>
        </div>

      </div> <!--coluna do botão-->

  </div> <!--/container primeiro conteudo-->

</section>
