<!-- Conteúdo Info -->
<section id="primeiro_conteudo">

  <div class="container">

    <div class="row">
      <div class="col-xs-10 col-md-6 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-offset-3 titulo">
        <h3>
          <b>Privacidade Virtual:</b><br>
          direito à liberdade de expressão sem a violação da sua privacidade
        </h3>
      </div>
    </div><!--/row titulo-->

    <div class="row">

      <div class="col-xs-8 col-xs-offset-2 justif">

        <p><br>
          &nbsp;&nbsp;O objetivo desse site é criar um espaço no qual pessoas que sofreram qualquer tipo de abuso possam desabafar sobre situações que afetam o seu  emocional e psicológico de experiências traumatizantes que sofreram. Nas publicações, quando você cria  um relato de sua experiência, automaticamente elas se tornam públicas, sendo possível visualizações de quaisquer pessoas que acessem o site. Além disso, O objetivo do site  esta  interligado com o encontro de um equilíbrio que  conceda um lugar para aessas pessoas se expressarem em um ambiente seguro e acolhedor para todos, ou seja, um local que trate experiências com compreensão e respeito.<br><br>
          &nbsp;&nbsp;Sendo assim, a liberdade de expressão garante o direito de qualquer pessoa de se manifestar livremente com suas opiniões, ideias sem medo retaliação e/ ou censura por parte da sociedade.Já a privacidade virtual tem como a finalidade controlar a exposição e as  informações permitidas de uma pessoa, seja um conhecido ou  um desconhecido, através de seus compartilhamentos na rede. Dessa maneira, nesse site são respeitados todos os direitos para as pessoas que não quiserem se identificadar com seus relatos, sendo que a <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/112965.htm">lei nº 12.965 de 23 de abril de 2014</a>, garante essa privacidade de que ninguém será exposto sem o consentimento do mesmo:<br><br>
          Art. 1º: Esta Lei estabelece princípios, garantias, direitos e deveres para o uso da internet no Brasil e determina as diretrizes para atuação da União, dos Estados, do Distrito Federal e dos Municípios em relação à matéria.<br><br>
          Art. 2º: A disciplina do uso da internet no Brasil tem como fundamento o respeito à liberdade de expressão, bem como:<br><br>
          I - o reconhecimento da escala mundial da rede;<br><br>
          II - os direitos humanos, o desenvolvimento da personalidade e o exercício da cidadania em meios digitais;<br><br>
          III - a pluralidade e a diversidade;<br><br>
          IV - a abertura e a colaboração;<br><br>
          V - a livre iniciativa, a livre concorrência e a defesa do consumidor;<br><br>
          VI - a finalidade social da rede.<br><br>
          Art 3º: A disciplina do uso da internet no Brasil tem os seguintes princípios:<br><br>
          I - garantia da liberdade de expressão, comunicação e manifestação de pensamento, nos termos da Constituição Federal;<br><br>
          II - proteção da privacidade;<br><br>
          III - proteção dos dados pessoais, na forma da lei;<br><br>
          IV - preservação e garantia da neutralidade de rede;<br><br>
          V - preservação da estabilidade, segurança e funcionalidade da rede, por meio de medidas técnicas compatíveis com os padrões internacionais e pelo estímulo ao uso de boas práticas;<br><br>
          VI - responsabilização dos agentes de acordo com suas atividades, nos termos da lei;<br><br>
          VII - preservação da natureza participativa da rede;<br><br>
          VIII - liberdade dos modelos de negócios promovidos na internet, desde que não conflitem com os demais princípios estabelecidos nesta Lei.
        </p>

      </div>

    </div> <!--/row privacidade-->

  </div> <!--/container primeiro conteudo-->

</section>
<app-footer></app-footer>
