<section id="primeiro_conteudo">

  <div class="container">
    
    <!-- Imagem em dispositivos muito pequenos -->
    <div class="row visible-xs-block" id="img-xs">
      <div class="col-xs-6 col-xs-offset-3">
        <img src="/src/img/logo_home.png" class="img-responsive">
      </div>					
    </div> <!--/row xs imagem-->

    <!-- Texto em dispositivos muito pequenos -->
    <div class="row visible-xs-block">
      <div class="col-xs-10 col-xs-offset-1">
        <p>
          Este é um espaço para mulheres poderem compartilhar qualquer tipo de violência que sofreram ou presenciaram, seja física, verbal ou sexual. É um espaço para que essas pessoas, independente do seu gênero ou identidade, possam desabafar, conscientizar, encontrar pessoas que passaram por situações parecidas… e tudo isso de forma completamente anônima e segura. Além disso, no menu “Informações” há números e links úteis, tanto para denúncia quanto para ajudar a lidar com a situação, reações e emoções.
        </p>
      </div>
    </div> <!--/row xs texto-->

    <div class="row visible-sm-block visible-md-block visible-lg-block">
      
      <!-- Texto -->
      <div class="col-lg-4 col-md-5 col-sm-6 col-md-offset-1 col-lg-offset-2">
        <p>
          Este é um espaço para mulheres poderem compartilhar qualquer tipo de violência que sofreram ou presenciaram, seja física, verbal ou sexual. É um espaço para que essas pessoas, independente do seu gênero ou identidade, possam desabafar, conscientizar, encontrar pessoas que passaram por situações parecidas… e tudo isso de forma completamente anônima e segura. Além disso, no menu “Informações” há números e links úteis, tanto para denúncia quanto para ajudar a lidar com a situação, reações e emoções.
        </p>
      </div>

      <!-- Imagem depois do texto em outros dispositivos -->
      <div class="col-lg-4 col-md-5 col-sm-6">
        <img src="/src/img/logo_home.png" class="img-responsive">
      </div>
      
    </div> <!--/row apresentacao da home-->

  </div> <!--/container primeiro conteudo-->

</section>
<app-footer></app-footer>